:root {
	--mainBG: #2b2d42;
	--secondaryBG: #8d99ae;
	--fontColour: #edf2f4;
	--mainRed: #d90429;
	--secondaryRed: #ef233c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr 10fr 1fr;
	grid-template-areas:
		'header'
		'main'
		'footer';
	background-color: var(--mainBG);
	color: var(--fontColour);
}

#Nav {
	background-color: var(--mainRed);
}

#Header {
	background-color: var(--mainRed);
	grid-area: header;
}
#Footer {
	background-color: var(--mainRed);
	grid-area: footer;
}

#FooterH3 {
	margin: 1rem auto;
}
