@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
	--mainBG: #2b2d42;
	--secondaryBG: #8d99ae;
	--fontColour: #edf2f4;
	--secondaryFontColour: #000;
	--mainRed: #d90429;
	--secondaryRed: #ef233c;
	--Appborder: 1px solid var(--fontColour);
	--fontLight: 300;
	--fontRegular: 400;
	--fontSemiBold: 600;
	--fontBold: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	height: 99.9vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: var(--fontRegular);
	position: relative;
	display: grid;
	grid-template-rows: 1fr 10fr 1fr;
	grid-template-areas:
		'header'
		'main'
		'footer';
	background-color: var(--mainBG);
	color: var(--fontColour);
}
.container{
	grid-area: main;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.ArticleList {
	
	grid-area: main;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: scroll;
}

#Footer {
	/* display: none; */
	max-height:100px;
	background-color: var(--mainRed);
	grid-area: footer;
	border: var(--Appborder);
}

#FooterH3 {
	text-align: center;
	margin: 1rem auto;
}

.ArticleCard {
	height: 250px;
	width: 90%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	background-color: var(--secondaryBG);
	border: var(--Appborder);
	color: var(--secondaryFontColour);
	margin: 1rem auto;
	-webkit-box-shadow: 3px 3px 5px 2px rgba(237, 242, 244, 0.30);
	box-shadow: 3px 3px 5px 0px rgba(237, 242, 244, 0.25);
}

.articleTitle {
	margin: 1rem 0 0 1rem;
	width: 90%;
}
.articleTopic{
	font-weight: var(--fontLight);
}
.textOverflowOff {
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 16px;
	max-height: 4rem;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.articleAuthor {
	font-weight: var(--fontLight);
	margin: 1rem 0 0 1rem;
}

.articleBody {
	font-size: 0.9rem;
	font-weight: var(--fontRegular);
	height: 100px;
	width: 90%;
	margin: 1rem 0 0 1rem;
}
.votes {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin: 1rem 0 1rem 1rem;
}
.articleButton {
	text-decoration: none;
	padding: 2%;
	color: var(--fontColour);
	background-color: var(--mainRed);
	border: var(--Appborder);
}
.ArticleSort{
	padding: 2%;
	color: var(--fontColour);
	background-color: var(--mainRed);
	border: var(--Appborder);
}
.ArticleSort > button{
	
	text-decoration: none;
	height: 20px;
	padding:0% 0.5%;
	margin: 0.2rem 1rem;
	color: var(--fontColour);
	background-color: var(--mainRed);
	border: var(--Appborder);
}
@media only screen and (min-width: 1120px) {
	.App {
		margin: 0 auto;
		width: 90vw;
	}

	.ArticleList {
		overflow-x: hidden;
		grid-area: main;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.ArticleCard {
		height: 250px;
		width: 450px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--secondaryBG);
		border: var(--Appborder);
		color: var(--secondaryFontColour);
		margin: 1rem auto;
	}

	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: var(--mainBG);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--mainRed);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--fontColour);
	}
}
